
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 150px;
    text-align: center;
}
.tl{
  display: flex;
  text-align: center;
  justify-content: center;
}
table,th,td{
  border: 1.2px solid black;
}
th,td{
  padding: 10px;
  background: rgb(250, 246, 246);
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;

}
